<div class="sitebar">
  <h4>Menu</h4>
  <nav>
    <ul>
      <li>
        <a
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Strona główna</a
        >
      </li>
      <li><a routerLink="/about" routerLinkActive="active">O projekcie</a></li>
      <li><a routerLink="/form" routerLinkActive="active">Formularz</a></li>
      <li><a routerLink="/login" routerLinkActive="active">Logowanie</a></li>
    </ul>
  </nav>
</div>
